<!DOCTYPE html>
<html>
<head>
    <title>Netflix</title>
</head>
<body>
    {{msg}}
    <h1>NETFLIX</h1>
    <h2>Login to netflix</h2>
    <form method="POST" action="/account_home">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <br>
        <input type="submit" value="Login">
    </form>
</body>
</html>
