<!DOCTYPE html>
<html>
<head>
    <title>HOME PAGE</title>
</head>
<body>
    <div>{{msg}}</div>
    <ol>
        <li>ADD MOVIE TO WATCHLIST</li>
        <li>ADD MOVIE TO WISHLIST</li>
        <li>UPDATE MOVIE TIMESTAMP IN WATCHLIST</li>
        <li>DELETE MOVIE FROM WISHLIST</li>
        <li>POST RECOMMENDATIONS</li>
        <li>RATE MOVIES</li>
        <li>RESUME MOVIE FROM WATCHLIST</li>
        <li>UPDATE PROFILE PASSWORD</li>
        <li>DELETE PROFILE</li>
        <li>LOGOUT PROFILE</li>
    </ol>

    <h1>MOVIE OPERATIONS FOR 1,2,4,7</h1>
    <form method="POST" action="/profile_home">
        <label for="text">OPERATION NUMBER</label>
        <input type="text" name="opno" id="opno" required>
        <br>
        <label for="text">Movie_ID</label>
        <input type="text" name="mid" id="mid" required>
        <br>
        <input type="submit" value="submit">
    </form>

    <h1>MOVIE OPERATIONS FOR 8</h1>
    <form method="POST" action="/profile_home">
        <label for="text">OLD PASSWORD</label>
        <input type="text" name="old_pass" id="old_pass" required>
        <br>
        <label for="text">NEW PASSWORD</label>
        <input type="text" name="new_pass" id="new_pass" required>
        <br>
        <input type="submit" value="submit">
    </form>

    <h1>MOVIE OPERATIONS FOR 9,10</h1>
    <form method="POST" action="/profile_home">
        <label for="text">OPERATION NUMBER</label>
        <input type="text" name="opno" id="opno" required>
        <br>
        <input type="submit" value="submit">
    </form>

    <h1>MOVIE OPERATIONS FOR 6</h1>
    <form method="POST" action="/profile_home">
        <label for="text">MOVIE_ID</label>
        <input type="text" name="mid" id="mid" required>
        <br>
        <label for="text">RATING</label>
        <input type="text" name="rating" id="rating" required>\
        <br>
        <input type="submit" value="submit">
    </form>

    <h1>MOVIE OPERATIONS FOR 3</h1>
    <form method="POST" action="/profile_home">
        <label for="text">MOVIE_ID</label>
        <input type="text" name="mid" id="mid" required>
        <br>
        <label for="text">TIMESTAMP</label>
        <input type="text" name="timestamp" id="timestamp" required>\
        <br>
        <input type="submit" value="submit">
    </form>

    <h1>MOVIE OPERATIONS FOR 5</h1>
    <form method="POST" action="/profile_home">
        <input type="submit" value="submit">
    </form>

    <div>
        {{result}}
    </div>
</body>
</html>
